#gpt-page{
    height: fit-content;
    max-width: 100vw;
    overflow-x: hidden;
}

#search-results{
    /* height: fit-content;
    width: fit-content; */
    position: absolute;
    top: 30vh;
    background: #0000003e;

   
}