#gpt-page{
    height: fit-content;
    width: 100vw;
    
}

#search-results{
    /* height: fit-content;
    width: fit-content; */
    position: absolute;
    top: 30vh;
    background: #0000003e;
    width: 100vw;
    /* overflow: scroll; */

    z-index: 99;
   
}