#main-movie{
    overflow:hidden ;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;

}
#bgvideo{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0%;
    left: 0;
    z-index: -3;
    overflow: hidden;

}


#bgvideo iframe {
    position: absolute;
    height: 190vh;
    width: 250vw;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

} 
#movie-info{
    position: relative;
    color: white;
    width: 40%;
    padding-left: 30px;
/* background: #000; */
    top:50%;
    bottom: 0%;
    /* transform: translate(0,-50%); */
}
 #movie-info #overview{
    position: relative;
    width: 100%;
    max-height: 100px;
    /* background: #805f5f; */
    overflow: hidden;
    text-overflow: ellipsis;
    
}

 #movie-info #title{
    font-size: 4vw;
    font-weight: 600;
    margin-bottom: 10px;
}
 #movie-info #buttons div{
    
    width: fit-content;
    background: #fcfcfc;
    padding: 20px 3vw;
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 10px;
    color: black; 
}

 #movie-info #buttons div#more{
    color: rgb(250, 243, 243); 
    background: #80747480;
}



@media (max-width: 500px) {
   
    #bgvideo iframe {
        height: 200%;
        width: 490%;
       
    } 

     #movie-info{
        width: 100%;
        padding-left: 15px;
        bottom: 0;
        left: 0;
        top: 50%;
        transform: translate(0,0);
        /* background: #000; */
    
    }
    
    
     #movie-info #title{
        font-size: 30px;
       
    }
    
     #movie-info #buttons div{
        
        width: fit-content;
       
        padding: 15px 30px;
        
        margin-right: 10px;
        margin-top: 20px;
        border-radius: 10px;
        
    }
    
    
    
    
  }


  @media (max-width: 768px) {
   
 
     #movie-info{
        width: 90%;
        
    
    }
    
    
    
  }


