#movie-card{
    max-height: 200px;
    width: 190px;

    /* background: #3f0ba0; */

    

    border-radius: 5px;
    flex-shrink: 0;
    /* overflow: hidden; */
    position: relative;
    transition: all 0.5s 0.2s ease-in;

}

#movie-card img{
    height:180px;
    width: 100%;
    position: relative;
    object-fit: cover;
    object-position: top;
}


