#search{
    position: absolute;
    
    /* background: #000000; */
    /* height: 50vh;
    width: 50vw; */
    left: 50%;
    top: 12vh;
    transform: translate(-50%,0);

    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 30px;
    z-index: 99;

}


#search input{
    height: 55px;
    width: 500px;
    border-radius: 20px;
    border: none;
    padding-left: 4%;
    background: #f9f9f9;
    font-weight: 600;
}

#search input:focus{
    outline: none;
}

#search input::placeholder{
    color: #000000b0;
    font-size: 15px;
}


#search button {
    height: fit-content;
    padding: 15px 50px;
    border-radius: 10px;
    background:#E50914 ;
    color: #f9f9f9;
    font-weight: 600;
    cursor: pointer;
}



@media (max-width: 500px) {
    #search{
    
   
    left: 50%;
    top: 12vh;
    
    padding: 2vw;
    
    gap: 10px;
   

}


#search input{
    height: 40px;
    width: 70vw;
    border-radius: 10px;
    
    padding-left: 4%;
    background: #f9f9f9;
    font-weight: 600;
}


#search input::placeholder{
   
    font-size: 13px;
}


#search button {
    height: fit-content;
    padding: 3vw 5vw;
    border-radius: 10px;
   
  
}
  }